body{
	background: #f6f5f1;

}
#box-page{
	width: 1000px;
	margin: 0px auto;
}
#banner-top{
}
#main-menu{
	background: #2577c1;

}
#body-page{
	background:#ffff;
}
#footer{

}


/*Style nav*/
	#main-menu ul{
		margin: 0px;
		padding: 0px;
		list-style: none;
		font-size: 0rem;


	}
	#main-menu ul li{
		display: inline-block;
		border-right: 1px solid white;
		font-size: 1rem;
		padding: 10px;


	}
	#main-menu ul li a{
		text-decoration: none;
		color: #fff;

		
	}
	.mau{
		background: black;

	}
	/* ghi chu lam mat 1 soc cuoi*/
	#main-menu ul li:last-child{
		border-right: none;

	}